* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-color: rgb(225, 224, 224);
  overflow: hidden;
}

.header-box {
  border-style: solid;
  padding: 5px 10px;
  margin: 30px 0;
  margin-right: 8px;
  margin-left: 30px;
  background-color: white;
  display: flex;
  justify-content: right;
  border-radius: 15px;
}

.header-box .button {
  display: flex;
  margin-right: 15px;
  padding: 2px 30px;
}

.create-playlist-box {
 margin: 15% 0;
 margin-left: 80px;
 line-height: 45px;

}
.create-playlist-box p{
  font-size: 19px;
}


 @media only screen and (min-width: 768px)  {
  /* For desktop:  */
  .trending-songs-box {
    margin-top: -476px;
    padding: 20px;
    position: absolute;
    right: 1em;
    height:70%;
    border-style: solid;
   
  }
  
 } 

 .trending-songs-box {
  margin-top: -476px;
  padding: 20px;
  position: absolute;
  right: 1em;
  height:70%;
  border-style: solid;
 }

.trending-songs-box .btn {
  display: block;
  

}



